body{
  align-items: center;
  text-align: center;
  gap:10px;
  
  /* font-size: xx-large; */
}

.card{
  border: 1px solid rgb(213, 21, 21);


}
.logout{
  border: 1px solid black;
}
.mainCom{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.empCard img{
  width:200px;
  border-radius: 10px;
}
.empCard{
  /* box-shadow: offset-x offset-y blur-radius spread-radius color inset; */
   box-shadow: 0px 10px 0px 0px rgba(244, 237, 237, 0.5);
  border: 1px solid black;
  width: 400px;
  border-radius: 10px;
  background-color: rgb(142, 132, 132);
}